<div class="text-center">
    <h1 style="color:#ffffff;" class="text-danger">Access Denied!</h1>
    <h4 style="color:#ffffff;" class="text-danger">You do not have a permission to view this page</h4>
    <br>
    <img src="~/images/stop.png" style="height:200px; width:200px" />
</div>